
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ваши документы | Конспектор</title>
    <link href="/static/doclist.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="panel">
      <div id="panel-buttons">
        <button class="panel-button" id="open">открыть</button>
        <button class="panel-button" id="delete">удалить</button>
        <button class="panel-button" id="share">поделиться</button>
        <button class="panel-button" id="create">создать</button>
      </div>
      <button class="panel-button" id="btn-username"></button>
    </div>
    <main>
      <p id="info-p"><em>Чтобы начать работу с документом, нажмите на него</em></p>
      <div id="my-docs-list">
        <h1>Ваши документы</h1>
        <div id="my-docs"></div>
      </div>
      <div id="shared-docs-list">
        <h1>Общие документы</h1>
        <div id="shared-docs"></div>
      </div>
    </main>
    <script src="../static/doclist.js"></script> 
  </body>
</html>