
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Добро пожаловать! | Конспектор</title>
    <link href="/static/login.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Добро пожаловать!</h1>
    <input id="inp-user-id" placeholder="Например, user1">
    <p>Ваш ID пользователя</p>
    <button id="handle-login">Войти</button>
    
    <script src="../static/login.js"></script> 
  </body>
</html>